@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.trem-div {
  width: 80%;
  height: 80%;
}

svg {
  margin-left: 12%;
}

.rodinha {
  -webkit-animation: rodar 1s linear infinite;
          animation: rodar 1s linear infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

.manivela {
  -webkit-animation: rodar2 1s linear infinite;
          animation: rodar2 1s linear infinite;
  transform-box: fill-box;
}

.manivela2 {
  -webkit-animation: abrir 1s linear infinite;
          animation: abrir 1s linear infinite;
  transform-box: fill-box;
}

#manivela3 {
  -webkit-animation: rodar3 1s linear infinite;
          animation: rodar3 1s linear infinite;
}

@-webkit-keyframes rodar {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes rodar {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@-webkit-keyframes rodar2 {
  from {
    -webkit-transform: rotateZ(0deg) translatey(-7px) rotateZ(0deg);
            transform: rotateZ(0deg) translatey(-7px) rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg) translatey(-7px) rotateZ(-360deg);
            transform: rotateZ(360deg) translatey(-7px) rotateZ(-360deg);
  }
}

@keyframes rodar2 {
  from {
    -webkit-transform: rotateZ(0deg) translatey(-7px) rotateZ(0deg);
            transform: rotateZ(0deg) translatey(-7px) rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg) translatey(-7px) rotateZ(-360deg);
            transform: rotateZ(360deg) translatey(-7px) rotateZ(-360deg);
  }
}

@-webkit-keyframes abrir {
  from {
    -webkit-transform: rotatey(0deg) translatey(12px);
            transform: rotatey(0deg) translatey(12px);
  }
  to {
    -webkit-transform: rotatey(2deg) translatey(12px);
            transform: rotatey(2deg) translatey(12px);
  }
}

@keyframes abrir {
  from {
    -webkit-transform: rotatey(0deg) translatey(12px);
            transform: rotatey(0deg) translatey(12px);
  }
  to {
    -webkit-transform: rotatey(2deg) translatey(12px);
            transform: rotatey(2deg) translatey(12px);
  }
}

.trem-estrutura {
  -webkit-animation: tremer 1s ease infinite alternate;
          animation: tremer 1s ease infinite alternate;
  -o-transform-origin: top center;
}

@-webkit-keyframes tremer {
  from {
    -webkit-transform: rotatey(0deg) rotatex(0deg);
            transform: rotatey(0deg) rotatex(0deg);
  }
  to {
    -webkit-transform: rotatey(5deg) rotatex(9deg);
            transform: rotatey(5deg) rotatex(9deg);
  }
}

@keyframes tremer {
  from {
    -webkit-transform: rotatey(0deg) rotatex(0deg);
            transform: rotatey(0deg) rotatex(0deg);
  }
  to {
    -webkit-transform: rotatey(5deg) rotatex(9deg);
            transform: rotatey(5deg) rotatex(9deg);
  }
}

@-webkit-keyframes passando {
  from {
    -webkit-transform: translatex(0px);
            transform: translatex(0px);
  }
  to {
    -webkit-transform: translatex(-160px);
            transform: translatex(-160px);
  }
}

@keyframes passando {
  from {
    -webkit-transform: translatex(0px);
            transform: translatex(0px);
  }
  to {
    -webkit-transform: translatex(-160px);
            transform: translatex(-160px);
  }
}

.trilho {
  -webkit-animation: passando 0.8s linear infinite;
          animation: passando 0.8s linear infinite;
}

.fumaça:nth-child(even) {
  -webkit-animation: fumaça1 2s linear infinite;
          animation: fumaça1 2s linear infinite;
}

.fumaça:nth-child(odd) {
  -webkit-animation: fumaça2 2s linear infinite;
          animation: fumaça2 2s linear infinite;
}

@-webkit-keyframes fumaça1 {
  from {
    -webkit-transform: translate(-2px, -38px) scale(1);
            transform: translate(-2px, -38px) scale(1);
    opacity: .7;
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    -webkit-transform: translate(-70px, -50px) scale(1);
            transform: translate(-70px, -50px) scale(1);
    opacity: 0.3;
    -webkit-filter: blur(7px);
            filter: blur(7px);
  }
}

@keyframes fumaça1 {
  from {
    -webkit-transform: translate(-2px, -38px) scale(1);
            transform: translate(-2px, -38px) scale(1);
    opacity: .7;
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    -webkit-transform: translate(-70px, -50px) scale(1);
            transform: translate(-70px, -50px) scale(1);
    opacity: 0.3;
    -webkit-filter: blur(7px);
            filter: blur(7px);
  }
}

@-webkit-keyframes fumaça2 {
  from {
    -webkit-transform: translate(8px, -38px) scale(1);
            transform: translate(8px, -38px) scale(1);
    opacity: .7;
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    -webkit-transform: translate(-60px, -60px) scale(1);
            transform: translate(-60px, -60px) scale(1);
    opacity: 0.3;
    -webkit-filter: blur(7px);
            filter: blur(7px);
  }
}

@keyframes fumaça2 {
  from {
    -webkit-transform: translate(8px, -38px) scale(1);
            transform: translate(8px, -38px) scale(1);
    opacity: .7;
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    -webkit-transform: translate(-60px, -60px) scale(1);
            transform: translate(-60px, -60px) scale(1);
    opacity: 0.3;
    -webkit-filter: blur(7px);
            filter: blur(7px);
  }
}

.fumaça:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.fumaça:nth-child(2) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.fumaça:nth-child(3) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.fumaça:nth-child(4) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.fumaça:nth-child(5) {
  -webkit-animation-delay: 01s;
          animation-delay: 01s;
}

.fumaça:nth-child(6) {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}

.fumaça:nth-child(7) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.fumaça:nth-child(8) {
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
}

.fumaça:nth-child(9) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.fumaça:nth-child(10) {
  -webkit-animation-delay: 2.25s;
          animation-delay: 2.25s;
}

.fumaça:nth-child(11) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
/*# sourceMappingURL=style.css.map */